**/nb-configuration.xml
**/nbactions*.xml
**/__pycache__/
**/certificates/
**/.idea/

/target/
/lcm-common/target/
/lcm-ui/target/
/lcm-server/target/
/lcm-server/logs/
/lcm-packaging/target/
/lcm-ui/src/main/webapp/VAADIN/themes/lcm_main_theme/styles.css
